SECRET=MIICXAIBAAKBgHugV9FzlAgnrBw/x6YETWQq72+4utw1FVmAVZ9Ka3o01UvhSr4aILH+ZUuNH+2DzASqgCZ3way7TcKgotLWo4AyeMteoKkCXJAZ4J+ubZ10FzWuCw1TLycP+X0SREqkUf01KB3LYVj5Uona1lo/0h3M4JweMx/rQl1QlPopozipAgMBAAECgYAh/3OHJ1jTcU2UqzmVf2NlI6WbPNsuie6oIXHqj4XFIthxuLBcXUUWjhZ/U30vTWqC8fyyF4cMoKn+1zxP7TUjPEJ4ppWUc2Ck/1U/TWBNeoKnKtWeZ9fdWHjRCGIGflpohyKVrdPeAhGiOI4DLdw02+/N5kG5DZZ01atCNSkeTQJBAOT9dHVA17dUjYrsICZFezOQK+vUexyGysWWJ6KTgQPQpDNmBmWICtLPwesUMeg+vrIqZghjSv4qaZz1/r+l8O8CQQCKNVfVhyXr62IqlesebWF2fKUzer9ODETvLm472Ep3fDxkY8AmjDjcA/3IEaW5JvSvdirc9VN64rWHVNatJD/nAkAv26z4SIoNHdXLQBhkB0d9eldDnY/xYVaFvyEfgFaJdpSqzVru42TntFYiDIF1uY9fay8R97aXskOKc3s/kK3vAkEAgLh528eJjBaoUR1b4/Tfpykj+7RA5IIM2e8Wf+pMQMiWvrEgz0Yd1txoyqOVA8LCdYDLHwvl+jeX9jkP0CZI1QJBAL+1QO2SR7vQfD2GWdd+A7QhCA6ugzFFcwU6hnrPgyWjMOas8Msr03mvjlC2DFOBN0tLcgIEWr51qETSZlmj+78=
MONGODB_URL="mongodb://localhost:27017/reprograma"